.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.wrapper p {
  font-size: 1rem;
  font-weight: 600;
}

.wrapper h1 {
  font-size: 3rem;
}

.text {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  width: 75%;
}

.boxText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.box {
  display: flex;
  width: 100%;
  gap: 40px;
}

.span {
  background: linear-gradient(24deg, #ffe01b, #ffac11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
