.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 46%;
  gap: 16px;
  color: var(--font-black);
  background-color: rgba(255, 255, 255, 0.623);
  border: solid 2px rgba(240, 240, 240, 0.5);
  border-radius: 24px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.8rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.link {
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(24deg, #ffe01b, #ffac11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
