.container {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  gap: 5%;
  flex-direction: row;
  padding: 0px 24px 0px 24px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.boxImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border-radius: 8px;
  padding: 20px;
  max-width: 104px;
  margin-bottom: 24px;
}

.title {
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  color: #383838;
  letter-spacing: 1px;
}
