.button {
  display: flex;
  align-items: center;
  background: linear-gradient(24deg, #ffe01b, #ffac11);
  padding: 20px 54px 20px 54px;
  border-radius: 24px;
  border: none;

  color: var(--font-black);
  font-weight: 600;
  font-family: var(--font-poppins), sans-serif;
  font-size: 1rem;
  gap: 16px;
}

.button:hover {
  cursor: pointer;
}
