.wrapper {
  display: flex;
  width: 100%;
  color: var(--font-black);
  flex-direction: row;
  gap: 80px;
  height: 700px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 112px;
  width: 100%;
}

.boxRight {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}

.animationBox {
  display: flex;
  align-items: center;
  height: 20%;
}

.boxText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boxText a {
  text-decoration: underline;
  font-size: 1.1rem;
  text-underline-offset: 0.6rem;
  font-weight: 500;
  margin-top: 16px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 54px;

  background-color: #29292b;
  border-radius: 24px;
  color: var(--font-white);
  margin-bottom: 16px;
}

.text {
  font-size: 1rem;
  font-weight: 400;
}

.title {
  font-size: 1.625rem;
  font-weight: 700;
}

.hr {
  background-color: var(--gray);
  width: 64%;
  height: 2px;
  border: none;
  border-radius: 24px;
}

.wrapperAnimation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--font-black);
  background-color: rgba(255, 255, 255, 0.623);
  border: solid 2px rgba(240, 240, 240, 0.5);
  border-radius: 24px;
  padding: 16px 32px 16px 32px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 500px;
  margin-top: 40px;
}

.boxLogos {
  display: flex;
  gap: 16px;
  margin: 16px 0px 16px 0px;
}