.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  width: 90%;
  height: 100vh;
}

.content {
  display: flex;
  padding-top: 24px;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 80px;
}

.hr {
  background-color: var(--gray);
  width: 64%;
  height: 2px;
  border: none;
  border-radius: 24px;
}
