.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--font-black);
  background-color: rgba(255, 255, 255, 0.623);
  border: solid 2px rgba(240, 240, 240, 0.5);
  border-radius: 24px;
  padding: 0px 32px 0px 32px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  gap: 80px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}

.boxRight {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 340px;
  background: var(--foreground);
  border-radius: 24px;
  color: var(--font-white);
  font-weight: 400;
  margin-bottom: 16px;
  gap: 8px;
}

.text {
  font-size: 1.6rem;
  font-weight: 500;
}
